<div class="row">

    <div class="col-6">

        <input class="form-control customSearch" type="text" placeholder="Search Record" name="search" [(ngModel)]="searchRecord">


    </div>
</div>


<div class="row">
    <div class="col-12">
        <br>

        <div class="card ">
            <div class="card-header">
                <h4 class="card-title"> CURRENT ORDERS</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive ps">
                    <table class="table tablesorter ">
                        <thead class=" text-primary">
                            <tr>
                                <th class="text-center">
                                    S No
                                </th>
                                <th class="text-center">
                                    Customer Name
                                </th>
                                <th class="text-center">
                                    Mobile Number
                                </th>
                                <th class="text-center">
                                    Items
                                </th>
                                <th class="text-center">
                                    Total Amount
                                </th>
                                <th class="text-center">
                                    Payment Mode
                                </th>
                                <th class="text-center">
                                    Delivery Address
                                </th>
                                <th class="text-center">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ordersList | filter: searchRecord | paginate: {itemsPerPage: 10, currentPage: p}; let i = index">
                                <td class="text-center">
                                    {{i + 1}}
                                </td>
                                <td class="text-center">
                                    {{item.fullName}}
                                </td>
                                <td class="text-center">
                                    {{item.mobile}}
                                </td>
                                <td class="text-center">
                                    <a (click)="selectOrder(item)" data-toggle="modal" data-target="#dishesModal" data-backdrop="static" data-keyboard="false" style="cursor: pointer; text-decoration: underline;"> Click Here </a>
                                </td>
                                <td class="text-center">
                                    <b>{{item.finalTotal}}</b>
                                </td>
                                <td class="text-center">
                                    <span style="color: greenyellow;"> {{item.paymentMethod}}</span>

                                </td>
                                <td class="text-center">
                                    {{item.address1}} &nbsp; {{item.city}} &nbsp; {{item.state}} &nbsp; {{item.pincode}}
                                </td>

                                <td class="text-center">

                                    <button (click)="completeOrder(item.orderId)" *ngIf="item.sub_order_status != 'COMPLETED'" data-toggle="tooltip" data-placement="top" title="Complete Order" class="btn btn-info btn-fab btn-icon btn-round animation-on-hover">
                                        <i class="tim-icons icon-check-2"></i>
                                    </button> &nbsp;


                                    <button (click)="addCancelReason(item)" data-toggle="tooltip" data-placement="top" data-toggle="modal" data-target="#cancelModal" data-backdrop="static" data-keyboard="false" title="Cancel Order" class="btn btn-danger btn-fab btn-icon btn-round animation-on-hover"
                                        data>
                                        <i class="tim-icons icon-simple-remove"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <span *ngIf="ordersList.length == 0" style="margin-left: 45%;"> NO ITEMS TO DISPLAY</span>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; right: 0px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                    </div>
                    <br><br>
                    <div class="row flex-pagination">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade model-config" id="dishesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">ORDERED ITEMS</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="isSafe">
                    <img src="../../../../assets/img/shield.png" width="25" height="25"> Maintain Social Distancing (Safe Delivery)
                </div>
                <br>
                <div class="row" style="border: 1px solid black;">
                    <div class="col-6" style="border-right: 1px solid black;">
                        <span style="color: rgb(42, 42, 42);">PRODUCT NAME</span>
                    </div>
                    <div class="col-3">
                        <span style="color: rgb(42, 42, 42);">QUANTITY</span>
                    </div>
                    <div class="col-3">
                        <span style="color: rgb(42, 42, 42);">BASE PRICE</span>
                    </div>
                </div>
                <div *ngFor="let item of dishesList; let i = index" class="row" style="border: 1px solid black;">
                    <div class="col-6" style="border-right: 1px solid black;">
                        <span style="color: rgb(42, 42, 42);">{{item.productName}} ( {{item.brand}} )</span>
                    </div>
                    <div class="col-3">
                        <span style="color: rgb(42, 42, 42);">{{item.quantity}}</span>
                    </div>
                    <div class="col-3">
                        <span style="color: rgb(42, 42, 42);">{{item.newPrice}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade model-config" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Cancellation Reason</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="textArea">Add Cancellation Reason</label>
                    <textarea id="textArea" [(ngModel)]="cancellationReason" class="form-control modal-input" placeholder="Enter Cancellation Reason"></textarea>
                </div>

                <button [disabled]="cancellationReason == ''" (click)="cancelOrder()" type="button" class="btn btn-primary" data-dismiss="modal">Cancel Order</button> &nbsp;
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>